body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.poster {
    width: 90%;
    max-width: 600px;
    background: white;
    border: 3px solid #000;
    text-align: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: all 1s ease;
}

.poster:hover{
    box-shadow: 7px 7px 19px black;
    transform: translateX(180px);
    
    
    
    
}
#header{
    font-size: 18px;
    color: black;
    padding: 1px;
    background-color: aqua;
    border-top-right-radius: 10px;
    border-top-left-radius:10px ;
}

.diagram {
    margin: 1px 0;
    padding: 5px;
    border: 3px solid cyan;
}
#row1{
    display: flex;
    gap: 10px;
}
#text1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1px;
}


.footer {
    font-size: 16px;
    font-weight: bold;
    padding: 1px;
    background-color: aqua;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius:10px ;
    
}

.footer p {
    margin: 5px 0;
}
#camera
{
    justify-content:flex-start;
     
}
.cam{
    width: 60px;
    height: auto;
}
#multiplexer img, #combiner img , #tv img{
    width:130px;
    height: auto;
}
#multiplexer{
    justify-content: center;
    width: 50%;
}
.connect{
    display: flex;
    align-items: center;

}
#modulator{
    justify-content: flex-start;
    width: 50%;

}
#modulator img{
    width: 100px;
    height: auto;
}
#combiner
{
    justify-content:flex-end;
    width: 85%;
}
#tv img{
    width: 130px;
    height: auto;
}
#tv{
    justify-content: flex-end;
   
}
